<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %} 
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Form with Bootstrap</title>
</head>
<body>
    <div>
            <form action="/poster" method="post">
            {% csrf_token %}
                <p class="form-control">Name: <input type="text" name="name"></p>
                <p class="form-control">Email: <input type="text" name="email"></p>
                <p class="form-control">Location: <select name="location" id="">
                    <option value="san_jose">San Jose</option>
                    <option value="seattle">Seattle</option>
                    <option value=""></option>
                </select>
                </p>
                <p class="form-control">Language: <select name="laguage" id="">
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="Java">Java</option>
                    <option value="javascript">JavaScript</option>
                    <option value=""></option>
                </select></p>
                    <textarea name="comment" class="form-control"id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Post Info">
        </form>
    </div>
</body>
</html>