<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Here we are</h1>
    <div id="wrapper">
        <h1 class="subhead text-center">The Great Number Game</h1>
        <p class="clsubhead text-center">pick a number between 1 and 10</p>
    </div>
    <div id="main_content text-center m-2">
        <div id="subcontent">
            <h2>choose your number</h2>
            <form action="/process_guess" method="POST">
                {% csrf_token %}
                <p>User guess <select name="user_guess">
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>

                </select></p>
                <p>Name:<input type="text" name="user_name"></p>
                <input type="submit" value="Take a Guess">
            </form>
        </div>
        <div id="subcontent">
            <h2>Result</h2>
            <p>{{ request.session.results }}</p>
        </div>
    </div>
</body>
</html>