<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>All Movies</title>
</head>
<body>
    <h2 class="text-center">All Movies</h2>
        <div class="jumbotron">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for movie in movies %}
                        <tr>
                            <td>{{movie.id}}</td>
                            <td>{{movie.title}}</td>
                            <td>{{movie.network}}</td>
                            <td>{{movie.release_date | date:'SHORT_DATE_FORMAT'}}</td>
                            <td>{{movie.description}}</td>
                            <td><a href="/movies/{{ movie.id }}">Show </a> | <a href="/movies/{{ movie.id }}/edit">Edit </a> | <a href="/movies/{{ movie.id }}/delete">Delete </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-center"><a href="/movies/new">Add A Show</a></p>
        </div>
</body>
</html>