<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>A Movie</title>
</head>
<body>
    <h2 class="text-center">Movie Information {{movie.id}}</h2>
    <div class="jumbotron">
    <h5 class="p-5">Title: <p class=""> {{movie.title}}</p></h5>
    <h5 class="p-5 m-5">Network: <p class="">{{movie.network}}</p></h5>
    <h5 class="p-5 m-5">Release Date: <p class="">{{movie.release_date}}</p></h5>
    <p class="text-center">Description: <p class="text-center">{{movie.description}}</p></p>
    <h3 class="p-5 m-5">Last Updated: {{movie.updated_at}}</h3>
    </div>
    <p class="text-center"><a href="/movies/{{ movie.id }}/edit">Edit </a> | <a href="/movies/{{ movie.id }}/delete">Delete </a></p>

</body>
</html>