<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add Movie</title>
</head>
<body>
    <h3 class="text-center">Movie Description</h3>
    <h1 class="p-2 m-3"> Movie {{movie.id}}</h1>
    <div class="jumbotron">
    <h4>Title: </h4>
        <p>{{movie.Title}}</p>
    <h4>Production: </h4>
        <p>{{movie.production}}</p>
    <h4>Description:</h4>
        <p>{{movie.description}}</p>
    <h4>Release Date:</h4>
        <p>{{movie.release_date}}</p>
    </div>
    <h3 class="p-3">Last Updated: {{movie.updated_at}}</h3>
    <div class="jumbotron">
    <p><a href="/movies/{{ movie.id}}/edit">Edit</a> | <a href="/movies/{{movie.id}}/delete">Delete</a></td></p>
</div>
</body>
</html>