<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>New Show</title>
</head>
<body>
    <div class="jumbtron">
        <div class="mx-auto">
            <h2 class="text-center">New Show</h2>
            <div class="form-group">
                <form action="/shows/create" method="post">
                    {% csrf_token %}
                <p class="text-center">Title: <input type="text" name="title"></p>
                <p class="text-center">Network: <input type="text" name="network"></p>
                <p class="text-center">Release Date: <input type="date" class="release_date" name="release_date"></p>
                <p class="text-center">description:<textarea name="description" id="" cols="30" rows="10"></textarea>
                </p>
               <button class=" btn btn-primary mx-auto">Submit</button>
                </form>
            </div>
            <p class="text-center"><a href="/" class="text-center">Home Page</a></p>
        </div>
    </div>
</body>
</html>