<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %} <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Login and Register</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="text-center">Register</h1>
        <div class="form">
            <form action="/process" method="post">
                {% csrf_token %}
                <p>First Name:<input type="text" value="" name="first_name"></p>
                <p>Last Name:<input type="text" value="" name="last_name"></p>
                <p>Email:<input type="text" name="email"></p>
                <p>Password: <input type="text" name="password"></p>
                <p>Confirm Password: <input type="text" name="confirm_password"></p>
                <input type="submit" value="Register">
            </form>
        </div>
            <div class="form">
                <h2>Login</h2>
            <form action="/login" method="post">
                {% csrf_token %}
                <p>Email:<input type="text" name="email"></p>
                <p>Password: <input type="text" name="password"></p>
                <input type="submit" value="Login">
            </form>
            </div>
    </div>
</body>
</html>
