<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Form Fill</title>
</head>
<body>
    <div class="jumbotron">
        <h2 class="text-center p-3 m-4 display 3">Fill Out the form</h2>
        <form action="/process" method="post" class="text-center p-2">
        {% csrf_token %}
        <p class="font-weight-bold">Name: <input type="text" name="name"></p>
        <p class="font-weight-bold">Email: <input type="text" name="email"></p>
        <p class="text-center font-weight-bold"> Location
            <select name="location" id="">
                <option value="san_jose">San Jose</option>
                <option value="new_york">New York</option>
                <option value="oakland">Oakland</option>
                <option value="burligame">Burlingame</option>
                <option value="lawerence">Lawerence</option>
                <option value="miami">Miami</option>
                <option value="chicago">Chicago</option>
            </select>
        </p>
        <p class="text-center font-weight-bold">Language: 
            <select name="language" id="">
                <option value="python">Python</option>
                <option value="mean">Mean</option>
                <option value="ios">iOS</option>
                <option value="javascript">JavaScript</option>
                <option value="ruby">Ruby</option>
                <option value="java">Java</option>
            </select>
        </p>
        <p class="text-center p-3 m-2 font-weight-bold">Comment:
            <Textarea name="comments"></Textarea>
        </p>
        <input type="submit" value="Submit Info">
        </form>
    </div>
</body>
</html>