<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="jumbotron">
        <h2 class="text-center p-4">Fill Out the Form</h2>
        <h4 class="text-center m-2 p-3">M'bappe Fan Club</h2>
            <form action="/process" method="post" class="text-center p-4">
                {% csrf_token %}
                <p class="text-center">First Name: <input type="text" name="first_name"></p>
                <p class="text-center">Last Name: <input type="text" name="last_name"></p>
                <p class="text-center">Email: <input type="text" name="email"></p>
                    <p>Language: <select value="language"> 
                            <option name="french" id="">French</option>
                            <option name="spanish" id="">Spanish</option>
                            <option name="portugues" id="">Portugues</option>
                            <option name="english" id="">English</option>
                        </select>
                    </p>
                    <p>Age: <input type="text" name="age" value="age"></p>
                <input type="submit" value="SignUp">
            </form>
            <p class="text-center">I'm passing over some data saying {{data}}</p>
            <div class="other_link">
                <a href="/results">Results</a>
            </div>
            <table class=" table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{user.first_name}}</td>
                            <td>            {{user.last_name}}
                            </td>
                            <td>{{user.email}}</td>
                           <!-- <td>{{user.language}}</td> -->
                            <td>{{user.age}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
    </div>
</body>
</html>