html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 231, 105);
  color: #484848;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
