<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Users Shell</title>
</head>
<body>
    <div class="container">
        <P>here we are. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium qui officiis quo veniam placeat tenetur est, unde totam fuga odit rem optio adipisci iste repellendus repellat doloremque aspernatur non quam.</P>
    </div>
</body>
</html>