{% extends 'store/main.html'%}

{% load static %}
{%block content%}

<h3>checkout</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div id="user-info">
                    <hr>
                        <p>Personal Information:</p>
                    <hr>
                    <div class="form-field">
                        <input type="text" required class='form-field' name="name" placeholder="Name...">
                    </div>
                    <div class="form-field">
                        <input type="text" required class='form-field' name="email" placeholder="Email...">

                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Info:</p>
                    <hr>
                    <div class="form-field">
                        <input type="text" class='form-field' name="address" placeholder="Address...">
                    </div>
                    <div class="form-field">
                        <input type="text" class='form-field' name="city" placeholder="City...">
                    </div>
                    <div class="form-field">
                        <input type="text" class='form-field' name="state" placeholder="State...">
                    </div>
                    <div class="form-field">
                        <input type="text" class='form-field' name="zipcode" placeholder="Zipcode...">
                    </div>
                    <div class="form-field">
                        <input type="text" class='form-field' name="country" placeholder="Country...">
                    </div>
                </div>
                <hr>
                <input type="submit" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <div class="box-element" id="form-wrapper">
        </div>
        <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <button id="make-payment">Make Payment</button>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart'%}">&#x2190; Back to Cart</a>
            <hr>
                <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"alt=""></div>
                <div style="flex:2">{{item.product.name}}</div>
                <div style="flex:1">${{item.product.price|floatformat:2}}</div>
                <div style="flex:1">{{item.quantity}}</div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    let shipping = '{{order.shipping}}'
    let total = '{{order.get_cart_total}}'

    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if(user !="AnonymousUser"){
        document.getElementById('user-info').innerHTML = ''
    }
    if(shipping == 'False' && user != 'AnonymousUser'){
        //hide entire form if the user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add('hidden');
        // show payment if loggedInUser wants to buy item that does not require shipping
        document.getElementById('payment-info').classList.remove('hidden');

    }

    let form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()//stops the form from performing its normal actions
        console.log('Form completed ...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button Clicked')
        const userFormData ={
            'name': null,
            'email': null,
            'total': total,
        }
        const shippingInfo ={
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }
        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }
        if(user == "AnonymousUser"){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }
        console.log('shipping info: ', shippingInfo)
        console.log('User Info', userFormData)
 /// } bracket was here
    let url = '/process_order/'
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
    })
    .then((response) => response.json())
    .then((data)=>{
        console.log('Success:', data);
        alert('Transaction completed');
    cart ={}
    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

    window.location.href = "{% url 'store' %}"
    })
} // line 130 now down here

</script>
{% endblock content %}
