<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    {% load static %} <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Directors</title>
</head>
<body>
    <h2 class=text-center>Here are a lits of our directors</h2>
    <h3 class="text-center p-4">Add a director</h3>
    <p><a href="/movies">Movies</a></p>
    <p><a href="/">Home</a></p>
        <form action="/add_director" method="POST">
            {% csrf_token %}
            <p class="text-center">Name: <input type="text" name="name" id=""></p>
            <p class="text-center">Email: <input type="text" name="email"></p>
            <p class="text-center"><textarea name="about" id="" cols="30" rows="10"></textarea></p>
            <p class="text-center"><input type="Submit" value="Add Director" class="btn btn-primary"></p>
        </form>
        <h3>These are the Directors</h3>
        <table class="table table-dark p-5 m-5">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>About:</th>
                    <th>Movies:</th>
                </tr>
            </thead>
            <tbody>
                {% for director in all_directors %}
                <tr>
                    <td><a href="/director/{{director.id}}">{{director.name}}</a></td>
                    <td>{{director.email}}</td>
                    <td>{{director.about}}</td>
                    {% for movie in director.movies.all %}
                    <td>{{movie.title}}</td>
                    {% endfor %}
                </tr>
                {% endfor%}
            </tbody>
        </table>
</body>
</html>