<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    {% load static %} <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>One Director</title>
</head>
<body>
    <h2 class="text-bold text-center">You are viewing {{director.name}}</h2>
    <p class="text-center"><a href="/director/delete/{{director.id}}">Delete Director</a></p>

    <h3 class="text-center p-3">Some of the directors work</h3>
    <ul class="text-center m-5">
        {% for movie in director.movies.all %}
        <li>{{movie.title}}</li>
        {% endfor %}
    </ul>

    <form action="/director/edit/{{director.id}}" method="post" class="mx-auto text-center">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Email: <input type="text" name="name"></p>
        <p>About: <input type="text" name="about" id=""></p>
        <input type="submit" value="Edit director">
    </form>

    <p class="text-center font-bold"> Created At: {{director.created_at}}</p>
    <p class="text-center"><a href="/">Home</a></p>
    <p class="text-center"><a href="/directors">Directors</a></p>

</body>
</html>