<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h2 class="text-center">All Books</h2>
        <div class="jumbotron">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Home Town</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}} {{author.last_name}}</td>
                        <td>{{author.home_town}}</td>
                        <td>{{author.genre}}</td>
                        <td><a href="/books/{{ author.id }}">Author Info | </a> <a href="/books/{{ author.id }}/edit">Edit Author</a> | <a href="/books/{{ author.id }}/delete">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-center"><a href="/books/new" class="btn btn-success">Add Author or Book</a></p>
        </div>
</body>
</html>