<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<h1 class="text-center">He runs</h1>
<p class="text_center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae quibusdam laborum ducimus nesciunt, molestiae voluptates suscipit corrupti sequi soluta iste officiis fugiat nemo doloribus velit deleniti ea optio quia?</p>
</body>
</html>