<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>All Movies</title>
</head>
<body>
    <h2 class="text-center">Add Movie</h2>
    <div class="jumbotron">
        <form action="/movies/add_movie" method="post">
            {% csrf_token %}
        <p class="text-center">Title: <input type="text" name="title"></p>
        <p class="text-center">Prouction Company: <input type="text" name="production"></p>
        <p class="text-center">Director: <input type="text" name="director"></p>        
        <p class="text-center">Release Date: <input type="date" name="release_date"></p>
        <p class="text-center"><textarea name="description" id="" cols="30" rows="10"></textarea> </p>
            <p class="text-center"> Description:
                <br><input type="submit" class="btn btn-primary" value="Add Movie"></p>
        </form>

            <h1 class="text-center">Add a Director</h1>
        <form action="/movies/add_dir" method="post">
            {% csrf_token %}
            <p class="text-center">First Name: <input type="text" name="first_name"></p>
        <p class="text-center">Last Name: <input type="text" name="Last_name"></p>
        <p class="text-center">Email: <input type="text" name="email"></p>
        <p class="text-center">Age: <input type="text" name="age"></p>
       <p class="text-center"> <input type="submit" class="btn btn-secondary p-2" value="Add Director"> </p>
        </form>
        
    </div>
    <a href="/movies" class="btn btn-danger text-center mx-auto m-3">Home page</a>
</body>
</html>