.container{
    background-color: rgb(207, 221, 235);
}


.main-content{
    padding-top: 3em;
    padding-bottom: 3em;
}

h1{
    color: orangered;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
}

.second{
    text-align: center;
    font-size: medium;
    font-size: 15px;
    font-style: italic;
}

.card{
    padding: 1em;
    margin: 20px;
    border: 1px solid rgba(0,0,0,.25)
}


.width-container{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background: white;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0);
    width: max-content;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    gap: 2ems;
}

.columns > *{
    flex-basis: calc(500px -100% *999);
    flex-basis: 100%;
}

.another-section{
    background-color: white;
    padding: 1em;
    max-width: 15rem;
    flex-grow: 0.2;
}